
		body {
			padding: 20px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 100vw;
			min-height: 100vh;
			background: #ddd;
			box-sizing: border-box;
		}
		
		#myCanvas.default, .default-canvas {
			background: white;
		}
		#myCanvas.white, #myCanvas.black {
			background: black;
		}

		* {
			font-family: monospace;
		}

		#radio {
			display: flex;
			flex-wrap: wrap;
		}
		#radio > * {
			margin-right: 20px;
		}

		#canvas-container, .canvas-container {
			max-width: calc(100vw - 40px);
			overflow: auto;
		}

		button.emoji {
			font-size: 24px;
			position: relative;
			top: 3px;
			background: transparent;
			border: none;
		}

		@media screen and (max-width: 992px) {
			button, input, label {
				font-size: 16px;
			}
			button {
				background: white;
			}

			label {
				margin-bottom: 10px;
			}
		}


.other-pages {
	position: fixed;
	bottom: 3px;
	left: 3px;
	display: flex;
}

.other-pages a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-size: 12px;
	display: block;
	margin-right: 13px;
	color: black;
}

.other-pages a:hover {
	text-decoration: underline;
}